.container {
  margin: 1em 0 2.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 25px;
}

.cropWrapper,
.buttonWrapper {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.dropzone {
  width: 230px;
  height: 230px;
  border: 2px solid #fbe300;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzoneActive {
  border: 2px solid #27be94;
}

.uploadIcon {
  width: 100px;
  height: 100px;
}

.uploadButton,
.cancelButton {
  padding: 7px 14px;
  border-radius: 5px;
  border: none;
  background-color: #fbe300;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 1em;
}

.uploadButton:hover {
  background-color: #ffd400;
  color: black;
}

.cancelButton {
  background-color: red;
  color: white;
}

.cancelButton:hover {
}
