.searchWrapper {
  display: flex;
  justify-content: center;
  margin: 3em 0 1em;
}

.searchInnerWrapper {
  position: relative;
  z-index: 99;
}

.searchInput {
  padding: 0.75em 1.25em;
  border: none;
  background-color: #f9f9f9;
  border-radius: 10px;
  font-size: 1em;
  color: #27be94;
}

@media only screen and (min-width: 768px) {
  .searchInput {
    padding: 1em 2em;
    border-radius: 15px;
    font-size: 1.25em;
  }
}

.searchInput:focus {
  outline: none;
}

.clearIcon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 12px;
  right: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .clearIcon {
    width: 20px;
    height: 20px;
    top: 22px;
    right: 0.5em;
  }
}
